.CourseSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
}

.FilterParamsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.FilterParamsDropdown {
  margin: 5px;
}
