.Schedulers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Schedulers-table {
  padding: 1em;
  margin: 0 auto;
}

.SchedulersAddButton{
      position:absolute;
      right: 40px;
      display: block;
      z-index: 99;
}
