.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.Header-Dropdowns {
  width: 90%;
}

.Header-Dropdown {
  width: 21%;
  margin: 0 1%;
  vertical-align: bottom;
}
