.Footer {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;;*/
  flex-direction: column;
  background-color: #00838f;
  min-height: 50px;
  padding: 20px 0 10px 0;
}

.Footer-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    color: #fafafa;
}

.Footer-link {
    color: #BDBDBD;
    text-decoration: none;
}

.Footer-link:hover {
    color: #7B1FA2;
}
