.Collaborators {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: blue;
}

.Collaborators-title {
    background-color: red;
    text-align: center;
}

.Collaborators-content {
  display: flex;
  flex: 1;
  background: pink;
  justify-content: center;
}

.Collaborators-name {

}

.Collaborators-urls {

}
